@white: #ffffff;
@black: #131313;
@tint: #33485e;
@dark-accent: #33485e;

@main-color: mix(@black, @tint, 70%);



@bg-dark-l1: lighten(@main-color, 5%);
@bg-dark-l2: lighten(@main-color, 10%);
@bg-dark-l3: lighten(@main-color, 15%);
@bg-dark-l4: lighten(@main-color, 20%);
@bg-dark-l5: lighten(@main-color, 25%);
@bg-dark-l6: lighten(@main-color, 30%);

@dark-accent-l1: lighten(@dark-accent, 10%);
@dark-accent-l2: lighten(@dark-accent, 20%);
@dark-accent-l3: lighten(@dark-accent, 30%);
@dark-accent-l4: lighten(@dark-accent, 40%);
@dark-accent-l5: lighten(@dark-accent, 50%);

@accent: saturate(@dark-accent-l3, 40%);

@bg-dark-d1: darken(@main-color, 2%);
@bg-dark-d2: darken(@main-color, 5%);
@bg-dark-d3: darken(@main-color, 10%);

@bg-light-d1: darken(@white, 10%);
@bg-light-d2: darken(@white, 20%);
@bg-light-d3: darken(@white, 30%);

@panel-color: @bg-dark-l2;

@main-font: 'Roboto', sans-serif;

@header-height: 70px;

@section-spacing: 50px;
@section-border-top-color: #262833; 


@container-width: var(--bs-breakpoint-xl);

:root{
  --bs-heading-color: @white;
}

header{
  position: fixed;
  width: 100%;
  z-index: 20;

  .navbar{
    width: 100%;
    min-height: @header-height;
    top: 0px;
    background-color: lighten(@main-color, 10%);
    a{
      color: @white;
      text-decoration: none;
      &.active{
        color: @accent!important;
      }
      &:hover{
        color: @accent;
      }
      &.show{
        color: @accent!important;
      }
    }
  
    .dropdown-menu{
      &.show{
        background-color: lighten(@main-color, 20%);
      }
      .dropdown-item{
        &:focus, &:hover{
          background-color: lighten(@main-color, 30%);
        }
      }
    }
  
    .form-control{
        background-color: lighten(@main-color, 6git 0%);
        color: #212121;
    }
  }
}

main {
  padding-top: @header-height;
  background-color: @main-color;
  min-height: 100dvh;
  color: @white;

  &.login-page{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.not-found{
    padding: 70px;
    min-height: 100dvh;
    background-color: #212121;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
  }

  #filter-games-section{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "filters-panel filtered-games";
    min-height: 100vh;
    gap: 20px;
    padding-right: 20px;
    padding-left: 20px;

    #filters-panel{
      grid-area: filters-panel;
      background-color: @panel-color;
      border-radius: 5px;
      padding: 15px;
      min-width: 230px;
      
      .game-filter-wrapper{
        .filter-dropdown{
          padding: 15px 0;
          border-top: 1px solid @bg-dark-l4;

          .filter-dropdown-btn {
            display: flex;
            flex-direction: row;
            width: 100%;
            border: none;
            background: none;
            align-items: center;
            justify-content: space-between;
            padding: 0px 10px;
            color: @white;
            .chev{
              width: 15px;
              height: 15px;
              transition: transform 0.3s ease-in-out;
              transform: rotate(180deg);

              &.open{
                transform: rotate(0deg);
              }
              img{
                width: 100%;
                object-fit: contain;
              }
            }
          }
          .filters-btn-wrapper {
            display: flex;
            flex-direction: column;
            gap: 2px;
            padding: 10px 0;

            .filter-btn{
              background: none;
              border: none;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              border-radius: 5px;
              width: 100%;
              text-decoration: none;
              padding: 5px 10px;

              &.is-selected{
                background-color: mix(#fff, @bg-dark-l4, 2%);
                span{
                  filter: brightness(1);
                }
                img{
                  display: block;
                }
              }
              span{
                font-size: 0.8em;
                color: @white;
                filter: brightness(0.7);
              }
              img{
                width: 10px;
                height: 10px;
                filter: brightness(0.7);
                display: none;
              }
            }
          }
        }
      }
    }
  
    #filtered-games{
      grid-area: filtered-games;
      background-color: @panel-color;
      border-radius: 5px;
    }
  }



  .section{
    width: 100%;
    padding: @section-spacing 0;
    border-top: 1px solid @section-border-top-color;

    &:nth-child(2n){
      background-color: @bg-dark-d1;
    }

    .section-title{
      margin-bottom: 20px;
      font-weight: 400;
    }
  }

  .container{
    margin: 0 auto;
    width: 100%;
    max-width: @container-width;
    box-sizing: border-box;
  }

  .game{
    background-color: @bg-dark-l4;
    font-size: 1.1rem;
    overflow: hidden;
    border-radius: 4px;

    .banner{
      position: relative;
      display: block;
      width: 100%;
      aspect-ratio: 2/3;

      img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: top center;
        position: relative;
      }
    }



    .info{
      display: block;
      overflow: hidden;

      

      .title {
        display: block;
        white-space: nowrap;
        padding: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        border-radius: 4px;
        text-decoration: none;

        span{
          text-decoration: none !important;
          color: @white;
          cursor: pointer;
        }
      }

      .deal {
        display: block;
        text-align: right;
        padding: 5px 10px;
        white-space: nowrap;
        border-top: 1px solid @bg-dark-l5;
        .price {
          font-size: 1.1rem;
          font-weight: 600;
          color: @accent;
        }
      }
    }

  }
}

.btn{
  padding: 10px 20px;
  border-radius: 10px;
  color: @white;
  &.default{
    background-color: @accent;
  }
}

.bg-img{
  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-blur-5{
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.bg-blur-10{
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

.login-background {
   background-image:  
                      url( '../img/center-blob-square-transparent.svg' ),
                      url( '../img/blob-scene-haikei.svg' );
   
}

.gradient-background-1 {
   background-image: url( '../img/blurry-gradient-haikei-1.svg' );
}

.gradient-background-2 {
   background-image: url( '../img/blurry-gradient-haikei-1.svg' );
}

.blob-background-1 {
   background-image: url( '../img/blob-scene-haikei.svg' );
}

.waves-background-1 {
   background-image: url( '../img/stacked-waves-haikei.svg' );
}

.glass{
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  // background-color: rgba(17, 25, 40, 0.75);
  background-color: fadeout(@main-color, 20%);
  opacity: 0.75;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.absolut-center{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}


.highlights-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    
}


#login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  margin: auto;
  padding: 30px;
  gap: 15px;
  position: relative;
  z-index: 2;
  flex-grow: 1;
  
  h1{
    color: @accent;
    font-weight: 600;
    font-size: 3rem;
  }

  .alert{

  }

  .form{
    margin-bottom: 20px;
    .control-group{
      .control-label{
        color: @main-color;
        font-size: 1.1rem;
        font-weight: 500;
      }
      .controls{
        button{
          margin: auto;
          margin-top: 20px;
          width: 80%;
          padding: 5px 10px;
          background-color: @accent;
        }
      }
    }
  }
}